*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:sans-serif;
  background:linear-gradient(180deg,#020617,#0f172a);
  color:white;
  min-height:100vh;
  overflow-y:auto;
  -webkit-overflow-scrolling:touch;
}

/* WRAP */
.wrap{
  max-width:600px;
  margin:auto;
  padding:20px;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

/* TITLE */
h1{
  font-size:28px;
  margin-bottom:10px;
}

/* PLAYER BOX */
.player{
  margin-top:20px;
  padding:20px;
  border-radius:25px;
  background:rgba(15,23,42,.9);
  border:1px solid rgba(255,255,255,.08);
}

/* BUTTON */
.controls{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:12px;
  margin-top:10px;
}

button{
  border:none;
  cursor:pointer;
}

.small{
  width:55px;
  height:55px;
  border-radius:50%;
  background:#1e293b;
  color:white;
}

.play{
  width:75px;
  height:75px;
  border-radius:50%;
  background:linear-gradient(135deg,#facc15,#f59e0b);
  color:black;
  font-size:26px;
}

/* TITLE LAGU */
#title{
  margin-top:15px;
  font-size:14px;
  color:#facc15;
  word-break:break-word;
}

/* PROGRESS */
.progress-container{
  display:flex;
  align-items:center;
  gap:10px;
  margin-top:20px;
}

#current,#duration{
  width:45px;
  font-size:12px;
  opacity:.7;
}

.progress{
  flex:1;
  height:10px;
  background:#1e293b;
  border-radius:20px;
  overflow:hidden;
  position:relative;
}

#bar{
  height:100%;
  width:0%;
  background:linear-gradient(90deg,#facc15,#f59e0b);
}

/* PLAYLIST */
#playlist{
  margin-top:20px;
  max-height:350px;
  overflow-y:auto;
  padding-right:5px;
}

.track{
  padding:14px;
  margin-bottom:10px;
  border-radius:15px;
  background:rgba(255,255,255,.04);
  cursor:pointer;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.track:hover{
  background:rgba(255,255,255,.08);
}

.track.active{
  background:linear-gradient(90deg,#facc15,#f59e0b);
  color:black;
  font-weight:bold;
}

/* FOOTER */
footer{
  margin-top:20px;
  text-align:center;
  opacity:.7;
  font-size:13px;
  padding:20px 0;
}