/* ===== BASIC ===== */
body{
  margin:0;
  font-family:sans-serif;
  background:#0f1720;
  color:#fff;
}

.wrap{
  max-width:520px;
  margin:auto;
  padding:20px;
  padding-bottom:90px; /* biar tidak ketutup mini player */
}

/* ===== TITLE ===== */
h2{
  text-align:center;
  margin-bottom:10px;
}

/* ===== SEARCH ===== */
#search{
  width:100%;
  padding:10px;
  border:none;
  border-radius:10px;
  background:#1e293b;
  color:#fff;
  outline:none;
  margin-bottom:10px;
}

/* ===== CONTROLS ===== */
.controls{
  display:flex;
  justify-content:center;
  gap:8px;
  margin:10px 0;
}

button{
  border:none;
  cursor:pointer;
  transition:0.2s;
}

.controls button{
  background:#1e293b;
  color:white;
  padding:10px;
  border-radius:10px;
}

.controls button:hover{
  background:#FFD700;
  color:black;
}

/* PLAY BUTTON BESAR */
#play{
  width:70px;
  height:70px;
  border-radius:50%;
  background:#FFD700;
  font-size:22px;
}

/* ===== TITLE LAGU ===== */
#title{
  text-align:center;
  margin:10px 0;
  font-weight:bold;
}

/* ===== TIME ===== */
.time{
  display:flex;
  justify-content:center;
  gap:5px;
  font-size:12px;
  opacity:0.8;
}

/* ===== PROGRESS ===== */
#progress{
  width:100%;
  height:10px;
  background:#334155;
  border-radius:10px;
  margin:10px 0;
  cursor:pointer;
  overflow:hidden;
}

#bar{
  height:100%;
  width:0%;
  background:#FFD700;
  transition:0.1s;
}

/* ===== VOLUME ===== */
.volume{
  display:flex;
  align-items:center;
  gap:10px;
  margin:10px 0;
}

#volume{
  width:100%;
}

/* ===== MODE ===== */
.mode{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-bottom:10px;
}

.mode button{
  padding:8px 12px;
  border-radius:10px;
  background:#1e293b;
  color:white;
}

.mode button:hover{
  background:#FFD700;
  color:black;
}

/* ===== PLAYLIST ===== */
#playlist{
  max-height:320px;
  overflow-y:auto;
  border-top:1px solid #334155;
}

.track{
  padding:10px;
  border-bottom:1px solid #334155;
  cursor:pointer;
  transition:0.2s;
}

.track:hover{
  background:#1e293b;
}

.track.active{
  background:#FFD700;
  color:black;
}

/* ===== MINI PLAYER ===== */
#mini-player{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background:#111827;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 15px;
  border-top:1px solid #334155;
}

#mini-play{
  background:#FFD700;
  border:none;
  padding:8px 12px;
  border-radius:10px;
  cursor:pointer;
}

/* ===== FOOTER ===== */
footer{
  text-align:center;
  font-size:12px;
  margin-top:20px;
  opacity:0.6;
}